:root{
    --primary-color:#099;
    --border-radius:6px
}
.team_form > form{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.team_form_input{
    margin-right: .5rem;
    width:25vw;
    border-radius: var(--border-radius);
    border:2px solid var(--primary-color);
}
.team_form_button{
    padding: .5rem;
    background-color: var(--primary-color) ;
    color: white;
    border-radius: var(--border-radius);
    border:none;
}
.tb-team{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.tb-team table{
    width:40vw;
    background-color: #fff;
    margin: 2rem auto;
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 15px -4px #000000; 
    box-shadow: 5px 5px 15px -4px #000000;
}

.tb-team table tr,td{
    border:none;
}
.tb-team table tr:nth-child(even) {background: #CCC}
.tb-team table tr:nth-child(odd) {background: #FFF}